- provide(:title, 'Adding product to list')

-#TODO everything

.jumbotron
  - if current_user.lists.present?
    %h2 Add to my lists
    .row
      - @userlist.each do |list|
        .col-xs-12.col-md-4
          .lists
            =image_tag Faker::Avatar.image(Faker::WorldOfWarcraft.hero, '100x100', 'png', 'set4')
            %p #{list.name}
            %p Capacity: #{list.capacity}
            = render 'lists/product_partials/add_product', list: list
    = will_paginate @userlist, :param_name => :my_list_page

    %h2 Add to a list
    .row
      - @lists.each do |list|
        .col-xs-12.col-md-4
          .lists
            =image_tag Faker::Avatar.image(Faker::WorldOfWarcraft.hero, '100x100', 'png', 'set4')
            %p #{list.name}
            %p Capacity: #{list.capacity}
            = render 'lists/product_partials/add_product', list: list
    = will_paginate @lists, :param_name => :lists_page