- provide(:title, @list.name)

%div.jumbotron

  %h1 #{@list.name}
  %h1= "Capacity: #{@list.capacity}"
  %h1= "Location: #{@list.location}"

  %h2 Products in this list
  %div.productlist
    %ul
      - @list.products.each do |product|
        %li
          = link_to "#{product.name}", product_path(product)
          = "Quantity: x#{@list.amount(product)}"
          = render 'lists/product_partials/remove_product', product: product


  =link_to 'Users in this list', list_of_users_path(@list)
  %br
  -if user_signed_in?
    =link_to 'Add products', products_path, class: 'btn btn-primary'
    %br
    = render 'add_list'
    %br
    =link_to 'Edit List Properties', edit_list_path
    %br
    =link_to 'Delete List', @list, method: :delete, data: { confirm: 'Are you sure?' }
    %br
  =link_to 'Back to lists', lists_path