- provide(:title, @list.name)

.wrapper
  .row
    = render 'list_settings'
  =image_tag Faker::Avatar.image(Faker::WorldOfWarcraft.hero, '150x150', 'png', 'set4')
  %h2= "Capacity: #{@list.capacity}"
  %h2= "Location: #{@list.location}"
  - if @list.products.empty?
    = render 'products/empty_list'
  - else
    = render 'products/list'