-if user_signed_in?
  .follow_form
    - if current_user.lists.include?(@list)
      = form_for(@list.productlists.find_by(list_id: @list.id, product_id: product.id), url: delete_product_path(@list, product), method: :delete) do |f|
        = hidden_field_tag :list_id, @list.id
        = f.label "Quantity"
        %br/
        = f.number_field :quantity
        = f.submit 'Remove product from list', class: 'btn btn-primary'