- provide(:title, 'Your profile')

.jumbotron
  %h1= "Hello #{@user.name}"
  .container
    %h2 Here is some basic info about you:
    %ul.profile
      %li= "Email: #{@user.email}"
      %li= "Age: #{@user.age}"

  - if current_user?(@user)
    %h2= "You are currently following #{pluralize(@user.lists.count, 'list')}"
    = render 'lists', size: '75x75'
