%div.jumbotron
  %h1= "Hello #{@user.name}"
  %div.container
    %h2 Here is some basic info about you:
    %ul.profile
      %li= "Email: #{@user.email}"
      %li= "Age: #{@user.age}"

  - if current_user?(@user)
    %h2= "You are currently following #{pluralize(@user.lists.count, 'list')}"
    %div.container
      %ul.userlist
        - @user.lists.each do |list|
          %li= link_to "#{list.name}", list_path(list)
