- provide(:title, @product.name)

.wrapper
  .row
    = render 'product_settings'
  .product-image
    =link_to product_path(@product) do
      =image_tag Faker::Avatar.image(Faker::WorldOfWarcraft.hero, '150x150', 'png', 'set4')
  .tab
    %button.tablinks Info
    %button.tablinks Brand
    %button.tablinks Ingredients
    %button.tablinks Shelf

    #Info.tabcontent
      %h3 Info
      %p= @product.info
    #Brand.tabcontent
      %h3 Brand
      %p= @product.brand
    #Ingredients.tabcontent
      %h3 Ingredients
      %p= @product.ingredients
    #Shelf.tabcontent
      %h3 Shelf Life (In days)
      %p= @product.shelf