- provide(:title, @product.name)


.jumbotron
  %h1 #{@product.name}
  .product-image
  .product-info.row
    .tab
      %button.tablinks{:onclick => "productInfo(event, 'Info')"} Info
      %button.tablinks{:onclick => "productInfo(event, 'Brand')"} Brand
      %button.tablinks{:onclick => "productInfo(event, 'Ingredients')"} Ingredients
      %button.tablinks{:onclick => "productInfo(event, 'Shelf')"} Shelf Life

    #Info.tabcontent
      %h3 Info
      = @product.info
    #Brand.tabcontent
      %h3 Brand
      = @product.brand
    #Ingredients.tabcontent
      %h3 Ingredients
      = @product.ingredients
    #Shelf.tabcontent
      %h3 Shelf Life (In days)
      = @product.shelf

  .row
    -if user_signed_in?
      .col-sm-6.col-lg-4
        =link_to 'Edit product', edit_product_path, class: 'btn btn-primary'
      .col-sm-6.col-lg-4
        =link_to 'Delete product', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'
    .col-sm-6.col-lg-4
      =link_to 'Back to products', products_path, class: 'btn btn-primary'