!!!
%html
  %head
    = render 'layouts/meta'
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      = render 'layouts/header'
    .container.text-center
      - flash.each do |message_type, message|
        = content_tag(:div, message, class: "alert alert-#{message_type}")
      = yield

  %footer
    = debug(params) if Rails.env.development?
